.reservation_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reservations_title {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

.reservation_card {
  width: 90%;
  max-width: 250px;
  height: 320px;
  border: 2px solid rgb(59 130 246 / 0.5);
  border-radius: 5px;
  margin: 5px;
}

.reservation_card > img {
  display: block;
}

.reservation_card > h3 {
  text-align: center;
  margin: 5px;
}

.reservation_card p {
  font-size: 12px;
  margin: 5px;
}

.reservation_card button {
  display: block;
  margin: 10px auto;
  border: 1px solid rgb(59 130 246 / 0.5);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reservation_card button:hover {
  background-color: rgb(59 130 246 / 0.5);
  color: white;
}
