@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Roboto+Slab&display=swap');

.animate-left {
  position: relative;
  animation: animateleft 0.5s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
